*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.underLine{
  width: 8rem;
  padding: 3px;
}

.mainDiv{
  position: relative;
}
.navDİv{
  position: absolute;
  left: 0;
  top:0;
}
.company{
  background-color: rgba(220, 53, 69, 0.5);
}
.navDiv button{
  transition: all 0.4s ease-in;
}

.navDiv button:hover{
  border-bottom:3px solid rgb(220, 53, 69) !important;
  color: rgb(220, 53, 69) !important;
}

.activeBtn{
  color: rgb(220, 53, 69) !important;
  border-bottom:3px solid rgb(220, 53, 69) !important;
}

@media (min-width: 992px) {
  .navDiv button{
    width: 8rem !important;
  }
  .navDiv button:hover{
    border-bottom: none !important;
    border-left:3px solid rgb(220, 53, 69) !important;
  }
  .activeBtn{
    border-left:3px solid rgb(220, 53, 69) !important;
    border-bottom:none !important;
  }
}